[Unit]
Description=Next-Gen syslog
Requires=syslog.socket

[Service]
ExecStartPre=/usr/sbin/syslog-ng -s -f /etc/syslog-ng/syslog-ng.conf
ExecStart=/usr/sbin/syslog-ng --foreground
StandardOutput=null

[Install]
Alias=syslog.service
WantedBy=multi-user.target
